<section class="page-content--skratchlabs">
	<a class="page-content--skratchlabs__dt-logo" href="/">{% include "includes/assets/logo--white.html" %}</a>	
	<div class="page-content--skratchlabs__logo">{% include "includes/assets/skratchlabs--logo.html" %}</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">WHAT</h2>
		<h2 class="page-content--project-body__info">I was an experience intern at <a href="http://humandesign.agency" target="_blank"> Human Design</a>, a design agency creates experiences that move the human race. My first project is to redesign the blog of <a href="http://www.skratchlabs.com/" target="_blank">Skratch Labs</a>, a Boulder-based company that provides a natural sports-drink supplier aimed at bikers & climbers. They are also offering snacks & cookbooks.</h2>

		<h2 class="page-content--project-body__info">I was responsible for.</h2>

		<h2 class="page-content--project-body__role"> User Research. User Experience & User Interface Design.</h2>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/empathize.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">I started the project by understanding the requirements from the client. Based on the contents that they were having on their blog and contents they were planning to publish, I did a short research on why and how Skratch Labs customers were currently consuming contents on their current blog.</h2>
		<h2 class="page-content--project-body-alternate__header">INSIGHTS</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">Skratch Labs articles are at least 7 minutes read and are the great for education.</li>
			<li class="page-content--project-body-alternate__insight">Skratchs Labs blog is not simply a blog, it is more like a publication.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/define.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">After gathering all the requirements and the discovery of those key insights, I did a short study on other publication platforms from leaders in the industry such as <a href="https://designmind.frogdesign.com/" target="_blank"> Design Mind </a> and <a href="https://medium.com/" target="_blank"> Medium</a>. I then narrowed to the core requirements and features for the project, and defined project's goals.</h2>
		<h2 class="page-content--project-body-alternate__header">REQUIREMENTS</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">The publication will be hosted on Squarespace. It will provide a simple CMS tool for our client to easily manages their contents.</li>
			<li class="page-content--project-body-alternate__insight">The articles must be easy to navigated throughout the site and searched from everywhere.</li>
			<li class="page-content--project-body-alternate__insight">The simplicity of the reading and sharing experience are the key to succeed.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/ideate.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">Because of the client limited budget and short time frame, I skipped the sketches and the wireframes. Instead, I jumped into creating high fidelity mockups with the brand assets and color pallete from my client.</h2>
		<h2 class="page-content--project-body-alternate__line">First, I designed the content hierachy. Category contains many articles so the readers will see categories at the top of the page. As the user scrolls down, they will see the list of feature articles and lastest articles.</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-category.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-article.png">
		</div>
		<h2 class="page-content--project-body-alternate__line">Second, I designed the article page. The contents are designed based on the standard that is 700 pixels wide which provides the best reading experience. All of the share buttons are located at the top of the page and are sticky.</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-article-details.png">
		</div>
		<h2 class="page-content--project-body-alternate__line">Finally, I kept iterating on the design throughout the design process until I feel it is good enough before any major deadlines. I also designed the mobile responsive user interface of the site as well. The final design contains few new features based on more researches and the feedbacks from my client and my mentor at Human Design. Those features are being highlighted below:</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">The progress bar is included and located at the top of the article that will help indicate your current reading progress.</li>
			<li class="page-content--project-body-alternate__insight">The article navigation is added at the top of the sharing buttons to help readers to easily switch to the previous and the next article.</li>
			<li class="page-content--project-body-alternate__insight">The reader can now see the estimation of how long it will take them to read the article.</li>
		</ul>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-category-final.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-article-final.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-article-details-final-1.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-article-details-final-2.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-mobile-1.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/skratchlabs/skratchlabs-mobile-2.png">
		</div>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/prototype.html" %} </div>
		<h2 class="page-content--project-body__info"></h2>
		<h2 class="page-content--project-body-alternate__line">I created a simple prototype to show the design to my client on my favorite prototyping tool, <a href="http://www.invisionapp.com/" target="_blank">Invision</a>. You can interact with my prototypes by clicking on the link below.</h2>
		<h2 class="page-content--project-body__insight">Desktop: <a href="https://invis.io/BW36LSYFU" target="_blank">https://invis.io/BW36LSYFU</a></h2>
		<h2 class="page-content--project-body__insight">Mobile: <a href="https://invis.io/WV34D044A" target="_blank">https://invis.io/WV34D044A</a></h2>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/test.html" %} </div>
		<h2 class="page-content--project-body-alternate__info">Testing is a part of the process and this step was repeated many times with my client and my mentor to gain feedbacks and helped me generate new ideas to kept iterating on my design.</h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">LESSON LEARNED</h2>
		<h2 class="page-content--project-body__line">This is the first project that I worked with a client so it is great experience on how to work with them. I learned that you will always have some disagreements with the client even though you have valid reasons to defend your design and most often, they won't listen to you.</h2>
		<h2 class="page-content--project-body__line">I also learned that even though there is a limited budget and short time frame for the project, I should have done sketches and wireframes first before jumping to creating high fidelity mockups. It would help me generate more ideas and collaborated with my colleges much faster and more efficient without limiting my thinking and wasting time on creating unused mockups early in the process.</h2>
	</div>
</section>

<div class="page-content--project-body__to-top">
	<a href="#top">
		<p class="page-content--project-body__to-top-text">top</p>
	</a>
</div>