<section class="page-content__wrapper page-content--skratchlabs">
	<a href="/">
		<div class="container page-content">	
			<div class="page-content--home__logo-small">{% include "includes/assets/logo--white.html" %}</div>
		</div>
	</a>
	<div class="container page-content">	
		<div class="page-content--skratchlabs__logo">{% include "includes/assets/skratchlabs--logo.html" %}</div>
	</div>
</section>

<section class="page-content page-content--body">
	<div class="container">
		<h2 class="page-content--body__header">This project is under development. Please check back soon.</h2>
	</div>
</section>