.page-header {
  max-width: 1150px;
  position: relative;
  margin: 0 auto;
  width: 85%;
  z-index: 1001;
  @media (min-width: 768px) { width: 90%; }
  @media (min-width: 1200px) { width: 100%; }
  &:after { 
    content: "";
    display: table;
    clear: both;
  }
  &__wrapper {
    padding-top: $spacing-unit/2;
    padding-bottom: $spacing-unit/2;
    margin-bottom: $spacing-unit/2;
  }
  &__lockup,
  &__menu {
    display: inline-block;
  }
  &__menu,
  &__menu-link,
  &__title,
  &__link {
    @include type--base-menu-item;
    line-height: 3;
    color: $grey;
    text-decoration: none;
    letter-spacing: 0.25px;
  }
  &__lockup {
    float: left;
  }
  &__link {
    display: inline-block;
    & svg {
      vertical-align: middle;
    }
  }
}

.page-header__menu {
    float: right;
    display: none;
    @media (min-width: 768px) { display: block; }
    &-link,
    &-link:active,
    &-link:focus {
      margin-left: $spacing-unit/4;
      color: $grey;
      @media (min-width: 768px) { margin-left: $spacing-unit; }
    }
    &-link:hover {
        color: $grey--dark;
        text-decoration: underline;
    }
    &-btn {
      padding: 0 $spacing-unit/2;
      height: 30px;
      line-height: 30px;
    }
  }
  &__title {
    margin-bottom: 0;
  }
.page-header--light {
  &__menu-link {
    color: $white;
    &:hover,
    &:active,
    &:focus { color: $white; }
    &:hover { color: darken($white, 10%); }
  }
}
