<footer class="page-footer__wrapper">
	<div class="page-footer">		
		<div class="page-footer__social">
			<a class="page-footer__social-link" href="mailto:danny@dqtran.com">{% include "includes/icons/icon--email.html" %}</a>
			<a class="page-footer__social-link" href="https://www.linkedin.com/in/dqtran" target="_blank">{% include "includes/icons/icon--linkedin.html" %}</a>
			<a class="page-footer__social-link" href="https://twitter.com/duyqtran" target="_blank">{% include "includes/icons/icon--twitter.html" %}</a>
			<a class="page-footer__social-link" href="https://github.com/dqtran" target="_blank">{% include "includes/icons/icon--github.html" %}</a>
		</div>
	</div>
</footer>