<section class="page-content--cleancut" id="top">
	<a class="page-content--cleancut__dt-logo" href="/">{% include "includes/assets/logo--white.html" %}</a>
	<div class="page-content--cleancut__logo">{% include "includes/assets/cleancut--logo.html" %}</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">WHAT</h2>
		<h2 class="page-content--project-body__info">Barbershop is a creative technology studio based out of Denver, Colorado that focus on building brands and accelerating startups through digital products. I was a Creative Technology Apprentice at <a href="http://www.barbershop.io/" target="_blank"> Barbershop</a>.My project was to create Clencut, an internal Q&A tool. </h2>

		<h2 class="page-content--project-body__info">I was responsible for.</h2>

		<h2 class="page-content--project-body__role">Product design. User Experience and User Interface Design. Front-end development.</h2>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/empathize.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">I started by looking at the project requirements from the Barbershop team. I then did some research about other tools in the market and interviewed few people about their current Q&A process at their firm. This research was based on the app development process of the team and the scope of the project.</h2>
		<h2 class="page-content--project-body-alternate__header">INSIGHTS</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">The current Q&A process is time-consuming and repetitive.</li>
			<li class="page-content--project-body-alternate__insight">The Q&A teams are using task management tools such as Trello to create a test plan, issues then share them to the dev team.</li>
			<li class="page-content--project-body-alternate__insight">Testing on the multi platforms, devices and viewports application is time-consuming and expensive.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/define.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">After the discovery of these key insights, I narrowed the core requirements and features for the project, and defined the project's goals.</h2>
		<h2 class="page-content--project-body-alternate__header">REQUIREMENTS</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">The application must integrate with Github or Bitbucket.</li>
			<li class="page-content--project-body-alternate__insight">The application allow the users to create test plans, tasks and create Github or Bitbucket issues with custom tags.</li>
			<li class="page-content--project-body-alternate__insight">The test plans and tasks can be accessible within the application interface based on the view port and different web browsers.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/ideate.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">I started the ideation phase by creating many sketches. This helped to generate ideas about the user flow of the application.</h2>
		<h2 class="page-content--project-body-alternate__line">First, I designed the “Create Test Plan and Task" flow. The user should be able to login using their Github or Bitbucket account, select the application they want to work with, then start creating the first test plan and tasks associate with the application. The user should also be able to add staging or production URL and tags for each tasks under the Settings tab. Finally, the user should be able to see their test plan progress and which browsers worked or failed.</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/sketch-addtestplan-v1.jpg">
		</div>
		<h2 class="page-content--project-body-alternate__line">Second, I worked on the user interface. I wanted users to have access to their test plans and tasks within the application. To achieve this, I explored the user interface of Intercom and ProductHunt.</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/sketch-testplan-browser-v1.jpg">
		</div>
		<h2 class="page-content--project-body-alternate__line">Given the limited hours that I had per week for the project, I jumped right into creating high fidelity mockups in order to meet the project milestones. Then I played with the color palette and typography. Red, black and white was the chosen color pallete and "Source Sans Pro" was the primary font. For optimal success, I explored some of the best desktop user interface practices from Apple and Invision.</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-testplan-v1.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-addtestplan-v1.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-settings-v1.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-integration-v1.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-tasks-v1.png">
		</div>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/prototype.html" %} </div>
		<h2 class="page-content--project-body__info"></h2>
		<h2 class="page-content--project-body-alternate__line">Throughout the ideate process, I made improvements to the user interface. I then created a simple prototype to gain user insights and show to the Barbershop team. You can interact with my <a href="http://www.invisionapp.com/" target="_blank">Invision</a> prototype by clicking the link below.</h2>
		<h2 class="page-content--project-body__insight"><a href="https://invis.io/D23UF29UG" target="_blank">https://invis.io/D23UF29UG</a></h2>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/test.html" %} </div>
		<h2 class="page-content--project-body-alternate__info">During the testing process, I mainly spent time testing with the Barbershop team in the house.</h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/define.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">Based on the feedbacks and insights from the team, I went back to re-define the solution with new requirements.</h2>
		<h2 class="page-content--project-body-alternate__header">REQUIREMENTS</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">The application won't be used by QA person only. It will be a platform for developer, QA person and the client to collaborate and test the application.</li>
			<li class="page-content--project-body-alternate__insight">The user should able to create multiple release plans and copy test plans from previous release.</li>
			<li class="page-content--project-body-alternate__insight">The user should able to add details about the tasks and any attachements or design assets.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/ideate.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">I drew a user flow of the application based on the new requirements to get a better understanding of how to organize the contents. For this redesign process, I skipped sketches and jumped right into creating high fidelity mockups.</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/userflow.jpg">
		</div>
		<h2 class="page-content--project-body-alternate__line">First, I redesigned the user flow of the application. The user should still able to login using their Github or Bitbucket account, select the application that they want to work with, then start creating the first release version of the application. The user should then be able to start creating new test plans, tasks and detail information about their tasks. Once the user created a new release plan, they would have the option to add test plans or tasks from the previous release.</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-release.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-addrelease.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-testplan.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-task-details.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-addtestplan.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-addtask.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-newrelease.png">
		</div>
		<h2 class="page-content--project-body-alternate__line">Second, I started playing around with the red "add button". I really like the concept of the floating button from the <a href="https://www.google.com/design/spec/components/buttons-floating-action-button.html#" target="_blank">Google Material Design</a>.The add button is now located at the same position of view port of the application. The size of the button will also help indicating whether you are adding a release plan, a test plan or a task.
		</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/add-buttons.png">
		</div>
		<h2 class="page-content--project-body-alternate__line">Finally, I created two different views: task view and QA view. The developer will use the task view to create test plans and tasks. Once they are done with a specific task or test plan, they can mark it as "Complete" and the task will be available under QA view that indicate the task is now ready to be tested.</h2>
		<div class="page-content--project-body-alternate__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-QAview.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/cleancut/mockup-QA-details.png">
		</div>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/prototype.html" %} </div>
		<h2 class="page-content--project-body__info"></h2>
		<h2 class="page-content--project-body-alternate__line">All of my screenshots are on the shared dropbox folder. You can visit the dropbox folder below.</h2>
		<h2 class="page-content--project-body__insight"><a href="https://www.dropbox.com/sh/eywjvo8mwwmlfz3/AACBSUYh3oXIo61qSk1pFs97a?dl=0" target="_blank">Dropbox Screens</a></h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">LESSON LEARNED</h2>
		<h2 class="page-content--project-body__line">This project taught me how to carefully think about the target audience for the application. Muliple users with different goals use applications differently. I therefore designed the a simple application that anyone in our target audience could use.</h2>

		<h2 class="page-content--project-body__line">I also learned that even though there are limited hours in a week, I could still meet the deadline of major milestones. Since I only worked with the small Barbershop team, I collaborated and share my ideas without wireframes. It proved, to me, that the design thinking process is very flexible and can repeat as much as possible. Design is a very agile process.</h2>
	</div>
</section>

<div class="page-content--project-body__to-top">
	<a href="#top">
		<p class="page-content--project-body__to-top-text">top</p>
	</a>
</div>