@import "base/jeet/index";

/* Base Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	font-family: $primary-font;
	font-size: $base-font-size;
	font-weight: $regular;
  line-height: $base-line-height;
	color: $white;
  background-color: $white;
}

/* Layout 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container { @include container; }

/* Typography 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 { @include type--base-header; }

p, li, a { font-weight: $regular; }

p {
  @include type--base-body;
}

ul { list-style-type: disc;}

li { 
  margin-bottom: 0;
  line-height: $base-line-height*1.25;
}
p {
  &:hover { color: $grey--black }
}

a { 
  &:hover { }
  &:focus { }
  &:active { }
  &:hover { cursor: pointer; font-color: $grey--black; }
}
