.sandbox{
  margin-bottom: $spacing-unit;
}

// Booking Menu
.booking-menu {
  &__wrapper {
    display: inline-block;
    vertical-align: top;
    border: 1px solid $grey--light;
    border-radius: 3px;
    background: $white;
  }
  &__header,
  &__main,
  &__footer {
    padding: 0 $spacing-unit/2;
  }
  &__header {
    padding-top: $spacing-unit/4;
    padding-bottom: $spacing-unit/4;
    margin-bottom: $spacing-unit;
    line-height: $med-font-size;
    background: $grey--dark;
  }
  &__date-picker,
  &__dropdown { display: inline-block; }
  &__date-picker { 
    width: 7rem;
    margin-right: $spacing-unit/4;
  }
  &__dropdown {
    width: 4rem;
    margin-bottom: 0;
  }
  &__input,
  &__label {
    margin-bottom: $spacing-unit/4;
    color: $grey--med;
  }
  &__travelers,
  &__input { width: 100%; }
  &__travelers { margin-bottom: $spacing-unit/2; }
  &__book-button,
  &__save-button {
    display: block;
    width: 210px;
  }
}

.price {
  &__number {
    @include type--base-sub1;
    @include type--overlay-light;
  }
  &__currency {
    @include type--base-sub2;
    @include type--overlay-light;
    float: right;
    line-height: 1.7;
    vertical-align: bottom;
    text-transform: uppercase;
  }
}

// Sign Up & Log In Modals

.sign-up,
.log-in,
.reset-pass,
.new-pass {
  &__wrapper {
    display: inline-block;
    margin: $spacing-unit*2 auto;
    vertical-align: top;
    background: $white;
    border: 1px solid $grey--light;
    border-radius: 3px;
  }
  &__label,
  &__header,
  &__first-name,
  &__last-name,
  &__email,
  &__pass,
  &__pass-confirm,
  &__forgot-pass,
  &__button,
  &__button-text { margin: $spacing-unit/4 $spacing-unit/2; }
  &__header {
    margin-top: $spacing-unit/2;
    font-size: $small-font-size;
    font-weight: $semibold;
    text-align: center;
  }
  &__first-name,
  &__last-name,
  &__email,
  &__pass,
  &__button {
    width: $spacing-unit*6.5;
    margin-bottom: 0;
  }
  &__label { color: $grey--med; }
  &__footer {
    width: 100%;
    margin-bottom: $spacing-unit/2;
  }
  &__login,
  &__forgot-pass {
    width: 90%;
    padding-top: $spacing-unit/2;
    margin-bottom: 0;
    font-size: $xsmall-font-size;
  }
  &__forgot-pass { margin-bottom: $spacing-unit/4; }
  &__login {
    margin-top: $spacing-unit/2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 1px solid lighten($grey--light, 20%);
  }
}

// Notifications
.notification {
  &__wrapper {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: $spacing-unit/4;
    border: 1px solid;
    border-radius: 3px;
  }
  &__text,
  &__link {
    margin-bottom: 0;
    font-size: $small-font-size;
    font-weight: $semibold;
    text-align: center;
  }
  &__text { padding: $spacing-unit/4 $spacing-unit/2; }
  &--secondary {
    background: $white;
    border-color: $grey--light;
    &__text { color: $grey; }
  }
  &--primary {
    background: $blue;
    border-color: darken($blue, 5%);
    &__text,
    &__link,
    &__link:hover { color: $white; }
  }
}


/* Photo Grid Layout 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-unit {
  height: 100%;
  &__container {
    height: 220px;
    margin-bottom: $spacing-unit/2.5;
    overflow: hidden;
    background-color: $grey--light;
    &--one-quarter {
    @media (min-width: 768px) {
      @include col(1/4, $cycle: 4, $gutter: 1.5);
      }
    }
    &--one-half {
      @media (min-width: 768px) {
        @include col(1/2, $gutter: 1.5);
      }
      &-omega { margin-right: 0; }
    }
    &--full-width {
      @include col(1);
    }
  }
  &__image {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  &__inner {
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: $spacing-unit/3;
  }
  &__desc,
  &__title {
    @include type--base-h2;
    @include type--overlay-light;
    margin-top: 0;
    margin-left: $spacing-unit/4;
    margin-right: $spacing-unit/4;
    box-sizing: border-box;
    text-align: center;
  }
  &__desc {
    @include type--base-sub2;
    @include type--overlay-light;
  } 
  &__price-point {
    @include type--base-sub1;
    @include type--overlay-light;
    float: right;
    margin-top: $spacing-unit/4;
    padding: $spacing-unit/8 $spacing-unit/2.5;
    background-color: $grey;
    opacity: 0.9;
  }
}
