<!doctype html>
<!-- 
                 __             __     |               
  \_/ | |\ |    /  ` |__|  /\  /  \    |                
  / \ | ___|    \__, | __ /~~\____/    .___  __   ___  |
  |__| |__  |    |    /  \     |  |__| |__  |__) |__   |
  |  | |___ |___ |___ \__/     |  |  | |___ |  \ |___  .  
                                                        
  It is great to know that you are checking out my code. 
  I custom built this portfolio site myself 
  by using Nodejs and Abe, a framework 
  written by my technial mentor, 
  Corban Baxter from Barbershop.io

  If you are interested in grabbing a coffee with me, 
  just drop me a line at 
  danny@dtran.design with the subject: Coffee? 
  I love ice white mocha btw :-)

  .----.   .--.  .-. .-..-. .-..-.  .-.    .---. .----.   .--.  .-. .-.
  | {}  \ / {} \ |  `| ||  `| | \ \/ /    {_   _}| {}  } / {} \ |  `| |
  |     //  /\  \| |\  || |\  |  }  {       | |  | .-. \/  /\  \| |\  |
  `----' `-'  `-'`-' `-'`-' `-'  `--'       `-'  `-' `-'`-'  `-'`-' `-'
  Product Designer & Developer 

-->     
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="/styles/main.min.css">
		<script src="/components/modernizr/modernizr.js"></script>
	</head>
	<body>

		{% block content %}{% endblock %}

		{% block footer %}
			{% include "includes/footer.html" %}
		{% endblock %}

		<script id="app-config" type="application/json">
			{
				"config": {},
				"page": {
					{% block page_settings %}{% endblock %}
				},
				"bootstrap": {
					{% block bootstrap %}{% endblock %}
				}
			}
		</script>

		<script src="/js/templates.js"></script>
		<script src="/js/main.js"></script>

		<!-- Typekit Embed Code. -->
		<script src="//use.typekit.net/zrb2ync.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-66300100-1','auto');ga('send','pageview');
		</script>
	</body>
</html>
