<section class="page-content--seekr">
	<a class="page-content--seekr__dt-logo" href="/">{% include "includes/assets/logo--white.html" %}</a>
	<div class="container page-content">	
		<div class="page-content--seekr__logo">{% include "includes/assets/seekr--logo.html" %}</div>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<h2 class="page-content--project-body-alternate__header">TEAM</h2>
	<div class="page-content--project-body__list">
		<h2 class="page-content--project-body__line"><strong>Nick Clement</strong>, <i>CEO</i></h2>
		<h2 class="page-content--project-body__line"><strong>Danny Tran</strong>, <i>CTO</i></h2>
		<h2 class="page-content--project-body__line"><strong>Jeremy Tinianow</strong>, <i>Visual Designer & Front End Developer</i></h2>
		<h2 class="page-content--project-body__line"><strong>Catie Czajkowski</strong>, <i>Product Manager</i></h2>
		<h2 class="page-content--project-body__line"><strong>Alia Munger</strong>, <i>UI/UX Designer</i></h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">WHAT</h2>
		<h2 class="page-content--project-body__info">Seekr is an impact driven travel platform that connects adventurous travelers to independent guides and locals.</h2>
		<h2 class="page-content--project-body__info">Seekr is a startup capstone project from the postgraduate program at <a href="http://bdw.colorado.edu/" target="_blank">Boulder Digital Works</a> Cohort 7. BDW is a design founder accelerator program that focused on Technology, Design and Entrepreneurship.</h2>
		<h2 class="page-content--project-body__info">Seekr was reavealed at AXIS: Cohort 7 DEMO DAY on Friday, August 7th at 6pm. You can watch our pitch <a href="https://www.youtube.com/watch?v=2l48AWFElEY" target="_blank">here</a> and visit our website at <a href="http://www.seekr.is" target="_blank">www.seekr.is</a></h2>
		<h2 class="page-content--project-body__info">I was responsible for</h2>

		<h2 class="page-content--project-body__role">Product design. User research and testing. Data model design. Back-end development.</h2>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<h2 class="page-content--project-body-alternate__header">PROBLEMS</h2>
	<h2 class="page-content--project-body-alternate__info">Finding unique, local experiences while you are traveling is time consuming. The best experiences by far, always have come from when we connect with locals who share their unique perspectives, off the beaten path experiences of the place you are visiting. However, 80% of the world does not own smart phones or have regular access to the internet. Therefore, those unique experiences are nearly impossible to find. Seekr is here to solve the problem.</h2>
	</div>
</section>

<section class="page-content--project-body">
	<h2 class="page-content--project-body__header">WHY</h2>
	<h2 class="page-content--project-body__info">At Seekr, we believe human are better than the search results. We also believe sustainable travel will empower individuals across the globe, transform their perspectives, enrich themselves with cultural knowledge, and create closer connection and deeper understanding of the world we live in.</h2>
</section>
		
<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/empathize.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">We started the project by asking ourselves few questions.</h2>
		<h2 class="page-content--project-body-alternate__header">QUESTIONS</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">How can we facilitate the connection between travelers and locals?</li>
			<li class="page-content--project-body-alternate__insight">What can we do to onboard locals guides across the globe where 80% the world does not own smart phones or have a regular access to the internet?</li>
			<li class="page-content--project-body-alternate__insight">How can we ensure the traveler's safety and establish trust within our network of guides?</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/define.html" %} </div>
		<h2 class="page-content--project-body__line">Based on those questions, over the last 4 months, we created three different hypothesis and tested them.</h2>
		<h2 class="page-content--project-body__header">HYPOTHESIS</h2>
		<ul class="page-content--project-body__list">
			<li class="page-content--project-body__insight">We are going to leverage SMS technology so Seekr can enable anyone to be on our network regardless of the type of technology they own. We then can connect travelers to locals in the most reliable and simple way possible.</li>
			<li class="page-content--project-body__insight">In order to faciliate the connection between travelers and locals, we are going to develop a web and mobile application where travelers can search and browse different unique experiences that are provided by locals.</li>
			<li class="page-content--project-body__insight">To ensure traveler's safety and establish trust within our network of guides, each guide is vetted through identity verification, background checks, and one-on-one interviews.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/ideate.html" %} </div>
		<h2 class="page-content--project-body-alternate__line">First, we would like to test whether the text messaging can help connect travelers to local guides. We then designed a simple text messaging test similar to the idea of <a href="https://getmagicnow.com/" target="_blank">Magic</a> and <a href="http://www.gobutlernow.com/" target="_blank">GoButler</a> to validate the this hypothesis.</h2>
		<h2 class="page-content--project-body-alternate__header">THE TEST</h2>
		<ol class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">Traveler can start the signup process by simply texting "Seekr" to a phone number. In this case, it is my phone number. Then they can signup for a new account with us and start asking for the type of expriences based on the place that they are planning to visit.</li>
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/texting-with-Seekr.png">
			<li class="page-content--project-body-alternate__insight">Then "Seekr" will connect travelers to local guides and provide them with the guide contact information. The traveler will then connect with their guides independently.</li>
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/texting-with-locals.png">
			<li class="page-content--project-body-alternate__insight">Finally, we ask for the feedback from our testers. Our purpose is to understand their opinions and feeling about the process so we can extract key insights from the test.</li>
		</ol>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/prototype.html" %}</div>
		<h2 class="page-content--project-body__line">After designing the test, we created a simple product demo video that we can share to our peers and network to ask for their feedback and opinions about the test. Enjoy the video below!</h2>
		<iframe class="page-content--project-body__video" src="https://player.vimeo.com/video/125413145" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/test.html" %} </div>
		<h2 class="page-content--project-body-alternate__info">We tested our prototype with our friends who loved to travel and we discovered key insights below:</h2>
		<h2 class="page-content--project-body-alternate__header">INSIGHTS</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">Travelers really like to text back and forth. The prompt is great but they would love to see more specific prompts.</li>
			<li class="page-content--project-body-alternate__insight">The texting process requires a bit more patient and travelers were confused about what the local guide actually do. Travelers would love to see more details about the trip and the local guide up front and won't pay via SMS.</li>
			<li class="page-content--project-body-alternate__insight">Travelers were concern about the safety of the trip and would like to see some verification of the person that they were talking to. Trust and safety were our main issues.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/ideate.html" %} </div>
		<h2 class="page-content--project-body__line">Second, we want build a prototype of the web and mobile application to faciliate the connection between travelers and locals. But before doing any sketches, wireframes and high-fidelity mockups, we would like to know what type of information that travelers want to see within the application. Therefore, we did the first experience fly fishing test in Colorado!</h2>
		<h2 class="page-content--project-body__header">THE TEST</h2>
		<ol class="page-content--project-body__list">
			<li class="page-content--project-body__insight">Through our network, we identified a traveler who was looking for a fly fishing experience in Colorado. A friend from <a href="http://cpw.state.co.us/" target="_blank"><strong>Colorado Park and Wildlife</strong></a> acted as a "local guide" that provided the experience.</li>
			<li class="page-content--project-body__insight">Then we faciliated the connection manually by conducting a short interview about what they were looking for before they book the experience. After that, we also manually sent both the traveler and local guide the contact information about each others. </li>
			<li class="page-content--project-body__insight">Finally, we let them figure out the detail about the trip. We also joined the trip to record and observe the experience.</li>
		</ol>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/test.html" %} </div>
		<h2 class="page-content--project-body-alternate__info">We produced a short video about the test and show the key insights that we discovery after asking for their feedback.</h2>
		<iframe class="page-content--project-body__video" src="https://player.vimeo.com/video/132597417" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<h2 class="page-content--project-body-alternate__header">INSIGHTS</h2>
		<ul class="page-content--project-body-alternate__list">
			<li class="page-content--project-body-alternate__insight">For both travelers and local guides, expectation are a key for the great experience. The guide need to set a clear expectation to give the traveler a full confident.</li>
			<li class="page-content--project-body-alternate__insight">The trust and confident about the experience will be establish much easier through talking over the phone rather than texting.</li>
			<li class="page-content--project-body-alternate__insight">The local guide is more incline to provide experience for the intrinsic value, not necessary for the money.</li>
			<li class="page-content--project-body-alternate__insight">For traveler, the recommendation and words of mouth trump browsing and searching. And they are more likely to book the similar experiences if the previous one was positive.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/ideate.html" %} </div>
		<h2 class="page-content--project-body__line">Based on the insights from the previous test, we are now ready to build a prototype of the web and mobile application to faciliate the connection between travelers and locals. My teammates, Alia Munger and Jeremy Tinianow have done a great job on creating a prototype which we can use for our next test.</h2>
		<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-search-result.png">
		<h2 class="page-content--project-body__header">THE TEST</h2>
		<ol class="page-content--project-body__list">
			<li class="page-content--project-body__insight">Through our network, we identified ten travelers to use the prototype to search, browse and book the Kenya cultural dinner at a church in Aurora, Colorado. After booking the experience, we asked those travelers to pay $20 for the meal as a donation via <a href="https://cash.me/$seekr" target="_blank"><strong>Cash</strong></a>.</li>
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/kenya-testing.jpg">
			<li class="page-content--project-body__insight">We asked a Kenya lady named, Jemimah Ngatia to provide the most authentic, cultural meal possbible plus performing Kenya cutural dances.</li>
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/kenya-meal.jpeg">
			<li class="page-content--project-body__insight">Finally, we let the experience happen organically. We then asked for their feedback about the experience and record our conversation while we were doing the prototype testing.</li>
		</ol>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<div class="page-content--project-body-alternate__asset"> {% include "includes/assets/prototype.html" %}</div>
		<h2 class="page-content--project-body-alternate__line">We created the prototype of the app on Invision. You can interact with the prototype by clicking the link below.</h2>
		<h2 class="page-content--project-body-alternate__line"><a href="https://invis.io/ZQ3QTU0DF" target="_blank">https://invis.io/ZQ3QTU0DF</a></h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<div class="page-content--project-body__asset"> {% include "includes/assets/test.html" %} </div>
		<h2 class="page-content--project-body__info">We have learned a lot more during the test. I highlighted a few key insights that we discovered. You can also read more about the test on <a href="https://medium.com/re-write/travel-is-local-4f77570b19f7" target="_blank">Medium.</a></h2>
		<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/kenyan-nick.jpg">
		<h2 class="page-content--project-body__header">INSIGHTS</h2>
		<ul class="page-content--project-body__list">
			<li class="page-content--project-body__insight">Each traveler brought up the importance of expectations again. Labeling the experience as a donation completely changed their thought process. It can either create lower expectation or higher expection.</li>
			<li class="page-content--project-body__insight">Enabling cultural and authentic experiences will give travelers a new appreciation and providers will gain a new sense of pride from sharing their culture and knowledge.</li>
			<li class="page-content--project-body__insight">The travelers enjoyed the experience of interacting with the prototype. Travelers love the fact that they can see many photos and videos about the experience as well as a unique way for them to discover similar experiences based on their availability.</li>
		</ul>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<div class="container">
		<h2 class="page-content--project-body-alternate__header">DATA MODEL</h2>
		<h2 class="page-content--project-body-alternate__line">After all the tests that we have done, I then created a MVP data model for our web application. The user model is similar to Uber's user model where everyone who signed up for an account with us, will be treated as a traveler. However, they can apply to become a local guide. And through our guide's vesting process, the "provider" privilege will be activated. Therefore, they now have a permission to add and provide experiences.</h2>
		<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-data-model.png">
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">THE SOLUTION</h2>
		<h2 class="page-content--project-body__line">Based on the discovery of key insights from our tests, we designed a web and mobile application that will allow travelers to search, book, preview and access to the experience information from anywhere even without the internet access.</h2>
		<ol class="page-content--project-body__list">
			<li class="page-content--project-body__insight">The traveler can start the journey by visiting our web application. The app will allow the traveler to search for experiences and local guides in the area of the place they are visiting. Once they find the experience, they can view the detail information about the trip and the guide. After they book, the app will provide the guide's contact information.</li>
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-search-result.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-filter-details.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-meal-overview.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-meal-provider.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-meal-photos.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-confirm.png">
			<li class="page-content--project-body__insight">While the traveler is on the ground, they can access saved & booked experience details, as well as touch base with guides via text or voice.</li>
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-mobile.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-mobile-info.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-mobile-guide-info.png">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/seekr-mobile-contact.png">
			<li class="page-content--project-body__insight">Because we know wifi and internet connection isn’t always available when they’re traveling, they can simply just text "Seekr" with a prompt to access their trip information.</li>
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/seekr/texting-seekr.png">
		</ol>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">LESSON LEARNED</h2>
		<h2 class="page-content--project-body__line">This project taught me how to design and conduct user tests creatively and constantly so we can acquire the most valuable insights about the user and their behavior. It can be extremely time-consuming but without carefully validating or invalidating your hypothesis about your target users, you will waste your time and effors building a solution that nobody want and the startup will fail.</h2>

		<h2 class="page-content--project-body__line">I also learned that doing a startup is extremely hard and it always requires our full effors, attention and passion. Also, finding the right co-founders that have a same passion and work ethic is very hard. Most of the startup fail because of the conflict within the founding team and caused by communication issues. We are avoiding those issues to make sure our startup has a higher chance to succeed.</h2>
	</div>
</section>

<div class="page-content--project-body__to-top">
	<a href="#top">
		<p class="page-content--project-body__to-top-text">top</p>
	</a>
</div>
