<section class="page-content--seekr">
	<a class="page-content--seekr__dt-logo" href="/">{% include "includes/assets/logo--white.html" %}</a>
	<div class="container page-content">	
		<div class="page-content--seekr__logo">{% include "includes/assets/seekr--logo.html" %}</div>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">WHAT</h2>
		<h2 class="page-content--project-body__info">Seekr is an impact driven travel platform that connects adventurous travelers to independent guides and locals.</h2>
	</div>
</section>

<section class="page-content--project-body-alternate">
	<h2 class="page-content--project-body-alternate__header">TEAM</h2>
	<div class="page-content--project-body__list">
		<h2 class="page-content--project-body__line"><strong>Nick Clement</strong>, <i>CEO</i></h2>
		<h2 class="page-content--project-body__line"><strong>Danny Tran</strong>, <i>CTO</i></h2>
		<h2 class="page-content--project-body__line"><strong>Jeremy Tinianow</strong>, <i>Visual Designer & Front End Developer</i></h2>
		<h2 class="page-content--project-body__line"><strong>Catie Czajkowski</strong>, <i>Product Manager</i></h2>
		<h2 class="page-content--project-body__line"><strong>Alia Munger</strong>, <i>UI/UX Designer</i></h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">ROLE</h2>
		<h2 class="page-content--project-body__info"> Responsible for product design, user research and testing, data model design and back-end development of the web application.</h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">Seekr is reavealed at AXIS: Cohort 7 DEMO DAY on Friday, August 7th at 6pm. You can watch our pitch <a href="https://www.youtube.com/watch?v=2l48AWFElEY" target="_blank"> <strong>here</strong></a>. Please allow me to gather my work on the project and check back on Thursday. Thank you!</h2>
	</div>
</section>