<section class="page-content page-content--body">
	<div class="container">
		<h2 class="page-content--body__header">APPROACH</h2>
	</div>
	<div class="container">
		<div class="page-content--body__asset">{% include "includes/assets/golden--circle.html" %}</div>
	</div>
	<div class="container">
		<h2 class="page-content--body__info">Xin Chào! Hello ! I am a product designer who graduated from Boulder Digital Works in Boulder, CO. I am passionate about creating digital products that inspire authentic and transformative experiences. My goal is to empower individuals across the world through design thinking, mindfulness and execution. </h2>
	</div>
	<div class="page-content--home__resume">
		<a href="https://s3-us-west-2.amazonaws.com/dtran-design/assets/Danny_Resume.pdf" target="_blank">
			<h4 class="page-content--home__resume-text">resume</h4>
		</a>
	</div>
</section>