<section class="page-content--body">
	<div class="container">
		<h2 class="page-content--body__header">PROCESS</h2>
	</div>
	<div class="container">
		<div class="page-content--body__asset">{% include "includes/assets/process--circle.html" %}</div>
	</div>
	<div class="container">
		<h2 class="page-content--body__info">Design Thinking is a simple process that unlocks the power of our creativity to solve any challenging problems. This process requires a deep empathetic understanding of a problem and those affected by it and fosters creative development of many different solutions. We ask and define the <strong>WHY</strong>. Then, with rapid iteration, we learn and design the final solution that is innovative, intuitive, and make significant impacts on human being. We design the <strong>HOW</strong> and build the <strong>WHAT</strong>. Then, we continuously repeat the process.</h2>
	</div>
</section>