<section class="page-content page-content--body">
	<div class="container">
		<h2 class="page-content--body__header">WORK</h2>
	</div>

	<div class="container"> 
		<a href="/seekr">
			<div class="page-content--body__work--seekr" href="/seekr">
				<div class="page-content--body__logo--seekr">{% include "../assets/seekr--logo.html" %}</div>
			</div >
		</a>
		<a href=/cleancut>
			<div class="page-content--body__work--cleancut">
				<div class="page-content--body__logo--cleancut">{% include "../assets/cleancut--logo.html" %}</div>
			</div>
		</a>
		<a href=/soccerfriends>
			<div class="page-content--body__work--soccerfriends">
				<div class="page-content--body__logo--soccerfriends">{% include "../assets/soccerfriends--logo.html" %}</div>
			</div>
		</a>
		<a href=/skratchlabs>
			<div class="page-content--body__work--skratchlabs">
				<div class="page-content--body__logo--skratchlabs">{% include "../assets/skratchlabs--logo.html" %}</div>
			</div>
		</a>
	</div>
</section>