<section class="page-content--soccerfriends">
	<a class="page-content--soccerfriends__dt-logo" href="/">{% include "includes/assets/logo--white.html" %}</a>
	<div class="page-content--soccerfriends__logo">{% include "includes/assets/soccerfriends--logo.html" %}</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">WHAT</h2>
		<h2 class="page-content--project-body__info">A online community that brings back the core value of why we play soccer and together, we can help improve the basic needs of human being around the world.</h2>
	</div>
</section>

<section class="page-content--project-body">
	<h2 class="page-content--project-body__header">WHY</h2>
	<h2 class="page-content--project-body__line">I love soccer. The beautiful game is the world's most popular sport. We play with passion, pride and glory for our country. However, modern soccer is creating problems and destroying the core values of the game. It is a money making machine. The Fédération Internationale de Football Association, the governing body of association football, futsal and beach soccer are full of corruption. We have totally forgot why we play the beautiful game.</h2>
	<h2 class="page-content--project-body__line">In addition, what if we could help under privileged kids across the world to enjoy the game with us by simply playing together? The idea came to fruition after I was inspired by a promotion video from my favorite soccer team, <a href="http://manutd.com" target="_blank"> Manchester United</a>.</h2>

	<iframe class="page-content--project-body__video" src="https://www.youtube.com/embed/nkUP2Hu04Zs" allowfullscreen></iframe>

	<h2 class="page-content--project-body-alternate__info">That's why I created soccer friends. 
	This is my 48 hours passion project over a weekend in July while I was at <a href="http://bdw.colorado.edu/" target="_blank">Boulder Digital Works</a>.</h2>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">PROCESS</h2>
		<h2 class="page-content--project-body__line"> I believe in a process, even with a passion project. I am a big fan of this quote from Jim Collins in his book, <a href="http://www.amazon.com/Good-Great-Some-Companies-Others/dp/0066620996" target="_blank"> Good to Great.</a></h2>
		<h2 class="page-content--project-body__quote"> "Discipline people. Discipline thought. Discipline action."</h2>
		<h2 class="page-content--project-body__line"> I started the project by looking for a partner who is passionate about soccer. It was actually an easy process. After chatting with my friend, I successfully recruited a great desginer and a soccer teammate, Dave Stadler. We have been playing soccer together in a co-ed team on Friday at <a href="http://boulderindoorsoccer.com" target="_blank"> Boulder Indoor Soccer.</a> </h2> 
		<img class="page-content--project-body__profile-pic" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/soccerfriends/dave.jpg">
		<h2 class="page-content--project-body__line"> We looked into tools to help us create an online community. In the end, we chose <a href="http://slack.com" target="_blank">Slack </a>, a messaging app for teams. It is one of the hottest and most popular team communication tool. Dave and I have been using it for many different projects and online communities so we created a Slack channel for Soccer Friends. You can visit it at <a href="https://soccerfriends.slack.com/" target="_blank">soccerfriends.slack.com </a>. The community is designed to be a place for everyone to communicate, schedule pickup games and looked for subs for their team. We created many different channels such as #i-need-subs #im-a-free-agents #indoor #outdoor #pick-up-games #watch-parties.</h2> 

		<div class="page-content--project-body__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/soccerfriends/soccerfriends-slack.png">
		</div>

<!-- 		<h2 class="page-content--project-body__line">Next, we were planning to reach out to all of the recreational indoor soccer facilities such as Boulder Indoor Soccer, Longmont Indoor Soccer, Boulder County Soccer Club, Bladium Denver, etc... and ask them if we could invite everyone to jon our online community.</h2> -->

		<h2 class="page-content--project-body__line">The Slack channel is used to organize charity pick up games, or tournaments where soccer is vehicle to help kids across the world. Donation will be collected via <a href="https://venmo.com/" target="_blank">Venmo</a> or <a href="https://cash.me/cashtags" target="_blank">Cash</a></h2>

		<h2 class="page-content--project-body__line">Over one weekend, we have successfully created a Slack online community, designed a simple landing page and created an action plan that we can execute.</h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">NEXT STEPS</h2>
		<h2 class="page-content--project-body__line">We didn't want it to be just a passion project. Building a community is awesome but we also realized that it could potentially turn into a startup. After talking to few people, we learned a few key pain points.</h2>
		<ul class="page-content--project-body__list">
			<li class="page-content--project-body__insight">The recreational teams that play at those indoor soccer facilities had always been struggling with the team roster where there was not an effective communication platform that the team manager can communicate and manage their team.It is often causing the team to forfeit the game without notifying the other team in advance.</li>
			<li class="page-content--project-body__insight">There is no simple way for indoor soccer facilities to easily collect team fee from the players directly without going through the team manager.</li>
		</ul>
		<h2 class="page-content--project-body__line">Therefore, we are exploring different opportunities to build a mobile app which can help us partner with indoor soccer facilities to provide a team management and communication platform. The percentage of benefit will be used for various social impact projects.</h2>

		<h2 class="page-content--project-body__quote">"Play Beautiful"</h2>

		<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/soccerfriends/soccerfriends-mockups.png">
	</div>
</section>

<div class="page-content--project-body__to-top">
	<a href="#top">
		<p class="page-content--project-body__to-top-text">top</p>
	</a>
</div>
