<section class="page-content--soccerfriends">
	<a class="page-content--soccerfriends__dt-logo" href="/">{% include "includes/assets/logo--white.html" %}</a>
	<div class="page-content--soccerfriends__logo">{% include "includes/assets/soccerfriends--logo.html" %}</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">WHAT</h2>
		<h2 class="page-content--project-body__info">A online community that brings back the core value of why we play soccer and together, we can help improve the basic needs of human being around the world.</h2>
	</div>
</section>

<section class="page-content--project-body">
	<h2 class="page-content--project-body__header">WHY</h2>
	<h2 class="page-content--project-body__line">I love soccer. The beautiful game is the world most popular sport. We play with passion,pride and glory for our country. However, the modern soccer is creating problems and destroying the beautiful game. It is money making machine for business men. It is full of corruption inside the Fédération Internationale de Football Association, the governing body of association football, futsal and beach soccer. We have totally forgot why we play the beautiful game.</h2>
	<h2 class="page-content--project-body__line">In addition, what if we could help unprivilege kids across the world to also enjoy the game with us by simply playing together? The idea came into fruition after I got inspired by a promotion video from my favorite soccer team, <a href="http://manutd.com" target="_blank"> Manchester United</a>.

	<iframe class="page-content--project-body__video" src="https://www.youtube.com/embed/nkUP2Hu04Zs" allowfullscreen></iframe>

	<h2 class="page-content--project-body-alternate__info">That's why I created soccer friends. 
	This is my 48 hours passion project over a weekend in July while I was at <a href="http://bdw.colorado.edu/" target="_blank">Boulder Digital Works</a>.</h2>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">PROCESS</h2>
		<h2 class="page-content--project-body__line"> I believe in a process, even with a passion project. I am also a big fan of this quote from Jim Collins in his book, <a href="http://www.amazon.com/Good-Great-Some-Companies-Others/dp/0066620996" target="_blank"> Good to Great.</a></h2>
		<h2 class="page-content--project-body__quote"> "Discipline people. Discipline thought. Discipline action."</h2>
		<h2 class="page-content--project-body__line"> I started the project by looking for a partner who is passion about soccer. It was actually an easy process. After chatting with my friend, I successfully recruited a good desginer and a soccer teammate, Dave Stadler. We have been playing soccer together on a co-ed team on Friday at <a href="http://boulderindoorsoccer.com" target="_blank"> Boulder Indoor Soccer.</a> </h2> 
		<img class="page-content--project-body__profile-pic" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/soccerfriends/dave.jpg">
		<h2 class="page-content--project-body__line"> Then we looked into few tools in the market to help us create an online community.In the end, <a href="http://slack.com" target="_blank">Slack </a>, a messaging app for teams is the hottest and most popular team communication tool. Dave and I have been using it for many different projects and online commmunity so we chose Slack to create an online community for Soccer Friends at <a href="https://soccerfriends.slack.com/" target="_blank">soccerfriends.slack.com </a>.The community will be a place for everyone who is looking to play soccer can communicate, schedule pickup games and looking for subs for their team. We created many differents channels such as #i-need-subs #im-a-free-agents #indoor #outdoor #pick-up-games #watch-parties.</h2> 

		<div class="page-content--project-body__list">
			<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/soccerfriends/soccerfriends-slack.png">
		</div>

		<h2 class="page-content--project-body__line">Next, we were planning to reach out to all of the recreational indoor soccer facilities such as Boulder Indoor Soccer, Longmont Indoor Soccer, Boulder Country Soccer Club, Bladium Denver, etc... if we could invite everyone to jon our online community.</h2>

		<h2 class="page-content--project-body__line">Finally, once we have enough players on our online community, we will organize charity pick up games, or tournaments where we will have fun playing soccer together and donate money to help kids across the world to play soccer. Donation will be collected via <a href="https://venmo.com/" target="_blank">Venmo</a> or <a href="https://cash.me/cashtags" target="_blank">Cash</a></h2>

		<h2 class="page-content--project-body__line">Over the weekend, we have successfully created the Slack online community, design a simple landing page that we can share to our network and created an action plan that we can execute throughout the year once we have a chance.</h2>
	</div>
</section>

<section class="page-content--project-body">
	<div class="container">
		<h2 class="page-content--project-body__header">NEXT STEPS</h2>
		<h2 class="page-content--project-body__line">We didn't want it to be just a passion project. Buildig a community is awesome but we also realized that it could potentially turns into a startup. After talking to few people, we learned few key insights that could turn Soccer Friends into a startup. 
		<ul class="page-content--project-body__list">
			<li class="page-content--project-body__insight">The recreational teams that play at those indoor soccer facilities had always been struggling with the team roster where there is not an effective communication platform that the team manager can communicate and manage their team.Often, causing the team to forfeit the game without notifing the other team in advance.</li>
			<li class="page-content--project-body__insight">There is no simpler way for those indoor soccer facilities to easily collect team fee from the players without going through the team manager.</li>
		</ul>
		<h2 class="page-content--project-body__line">Therefore, we are exploring different opportunities to build a mobile app where we can partner with those indoor soccer facilities to provide a team management and communication platform. The percentage of benefit will be used for the social impact projects. The project is currently in the backlog. However, you can have the first look of the app mockups.</h2>

		<h2 class="page-content--project-body__quote"> "Play Beautiful"</h2>

		<img class="page-content--project-body__work-snapshot" src="https://s3-us-west-2.amazonaws.com/dtran-design/assets/soccerfriends/soccerfriends-mockups.png">
	</div>
</section>

<div class="page-content--project-body__to-top">
	<a href="#top">
		<p class="page-content--project-body__to-top-text">top</p>
	</a>
</div>
