/* Layout */
$spacing-unit: 2rem;
/* Width */
$content-width: 960px;

/* Type */
$primary-font: 'Avenir Next','source-sans-pro', 'Source Sans Pro', Helvetica, Arial, sans-serif;
// Size
$base-font-size: 20px;
$xlarge-font-size: 64px;
$large-font-size: 32px;
$regular-font-size: 28px;
$med-font-size: 24px;
$small-font-size: 16px;
$xsmall-font-size: 14px;
// Weights
$light: 300;
$regular: 400;
$semibold: 600;
// Line Height
$base-line-height: 1.35;


/* Color */
$blue: #12aaeb;
$blue--transparent: rgba(18,170,235,0.9);
$red: #E54D42;
$silver: #F2F2F2;

$white--logo: #000000;
$white: #fafafa;
$grey--black: #4A4A4A;
$grey--light: #aaaaaa;
$grey--med-light: #888888;
$grey--med: #555555;
$grey: #333333;
$grey--dark: #222222;

/* Buttons */
$button-height: 42px;
$button-height--secondary: 34px;
