/* Layout */
$spacing-unit: 2rem;
/* Width */
$content-width: 960px;

/* Type */
$primary-font: 'Avenir Next','source-sans-pro', 'Source Sans Pro', Helvetica, Arial, sans-serif;

/* Size */
$base-font-size: 20px;
$xlarge-font-size: 64px;
$large-font-size: 32px;
$regular-font-size: 28px;
$med-font-size: 24px;
$small-font-size: 16px;
$xsmall-font-size: 14px;

/*  Weights */
$light: 300;
$regular: 400;
$semibold: 600;

/* Line Height */
$base-line-height: 1.35;


/* Color */
$red: #E54D42;
$silver: #F2F2F2;

$black: #000000;
$white: #fafafa;
$grey--black: #4A4A4A;
